<!DOCTYPE html>
<html lang='en'>
<head>
	<title>{{meta_title}}</title>
	<meta charset='utf-8'>
	<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">
	
	<meta name="description" content="{{meta_description}}">
	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{meta_title}}">
	<meta name="twitter:description" content="{{meta_description}}">
	<meta name="twitter:image" content="{{meta_image}}">
	<meta property="og:url" content="">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{meta_title}}">
	<meta property="og:site_name" content="{{meta_name}}">
	<meta property="og:description" content="{{meta_description}}">
	<meta property="og:image" content="{{meta_image}}">
	<link rel="icon" type="image/png" href="{{meta_icon}}">
	<link rel="apple-touch-icon" href="{{meta_icon}}">
	<link rel="apple-touch-startup-image" href="{{meta_icon}}">
	
	<style>
		body{
			font-weight: 300;
			background: rgb(250, 250, 250);
			color: rgb(0, 0, 0);
			font-size: 1em;
			line-height: 1.37;
			padding:0px;
			margin:0px;
			font-smooth: always;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
			-webkit-font-smoothing: antialiased;
			
			--mainColor: rgb({{theme_colour}});
			--mainColorText: rgb({{theme_colour_contrast}});
			--mainColorTransparent: rgba({{theme_colour}},0.2);
			--greyShade0: rgb(255, 255, 255);
			--greyShade1: rgb(242, 242, 242);
			--greyShade2: rgb(232, 233, 233);
			--greyShade3: rgb(209, 211, 212);
			--greyShade4: rgb(186, 189, 191);
			--greyShade5: rgb(128, 132, 136);
			--greyShade6: rgb(102, 106, 109);
			--greyShade7: rgb(77, 80, 82);
			--greyShade8: rgb(33, 33, 34);
		}
		
		h1 {
			color: var(--greyShade8);
		}
		
		a {
			color: var(--mainColor);
			font-weight: 600;
			text-decoration: none;
		}
		
		a:hover {
			opacity:0.9;
		}
		
		.followme {
			background: var(--mainColor);
			color: var(--mainColorText);
			position: fixed;
			bottom: 10px;
			left: 10px;
			font-weight: 600;
			font-size: 14px;
			border-radius: 16px;
			padding: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
		.button {
			display:inline-block;
			background: var(--mainColor);
			color: var(--mainColorText);
			font-weight: 600;
			font-size: 14px;
			border-radius: 16px;
			padding: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
		bubble{
			display:block;
			background: var(--greyShade0);
			margin: 0px auto;
			text-align: left;
			max-width: 840px;
			padding: 10px;
			margin-top: 15px;
			margin-bottom: 15px;
			border-radius: 16px;
			box-shadow: rgba(50,50,50,0.06) 0px 2px 4px 1px;
			-webkit-box-shadow: rgba(50,50,50,0.06) 0px 2px 4px 1px;
			border: 1px solid rgba(0, 0, 0, 0.2);
		}
		
		.article{
			overflow:hidden;
		}
		
		.article h1{
			margin-top:0px;
			margin-bottom:10px;
			font-size: 1.8em;
			font-weight: 400;
		}
		
		.article h2{
			margin-top:0px;
			margin-bottom:10px;
		}
		
		.article .meta{
			font-size:0.8em;
			color:var(--greyShade6);
		}
		
		.article .headerimage.float{
			float: left;
			width: 35%;
			margin-right: 10px;	
		}
		
		.article .headerimage.float img{
			margin: 10px;
			border-radius:8px;
			width:calc(100% - 20px);
			box-shadow: rgba(50,50,50,0.06) 0px 2px 4px 1px;
			-webkit-box-shadow: rgba(50,50,50,0.06) 0px 2px 4px 1px;
		}
		
		.article .headerimage:not(.float) img{
			margin-top:20px;
			margin-bottom:10px;
			margin-left:10px;
			margin-right:10px;
			border-radius:20px;
			width:calc(100% - 20px);
			box-shadow: rgba(50,50,50,0.06) 0px 2px 4px 1px;
			-webkit-box-shadow: rgba(50,50,50,0.06) 0px 2px 4px 1px;
		}
		
		.article heading{
			display: block;
			font-weight: 500;
			font-size: 1.7em;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		.article subheading{
			display: block;
			font-size: 1.4em;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		.comment .meta{
			font-size:0.8em;
			color:var(--greyShade6);
		}
		
		footer{
			display:block;
			text-align:center;
			max-width: 780px;
			margin: 0px auto;
			padding: 10px;
			margin-top: 50px;
			margin-bottom: 15px;
		}
		
		.navbar{
			position:fixed;
			z-index: 5000;
			top:0px;
			left:0px;
			padding:10px;
			width:calc(100% - 20px);
			-webkit-backdrop-filter: blur(20px) saturate(200%)!important;
			-moz-backdrop-filter: blur(20px) saturate(200%)!important;
			backdrop-filter: blur(20px) saturate(200%)!important;
			background: rgba(255,255,255,.85)!important;
			box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
			-webkit-box-shadow: rgba(50, 50, 50, 0.06) 0px 2px 4px 1px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		}
		
		.navbar .navbar_icon{
			float:left;
			margin-right:20px;
			height:40px;
			width:40px;
			border-radius:5px;
		}
		
		.navbar .navbar_name{
			display:inline-block;
			font-size:1.2em;
			line-height: 40px;
		}
		
		.navbar .navbar_menu{
			display:inline-block;
			float:right;
			text-align:center;
		}
		
		.navbar .navbar_menu a{
			display:inline-block;
			background:#ffffff;
			border-radius: 16px;
			padding:5px;
			padding-left:10px;
			padding-right:10px;
			color:var(--greyShade8);
			margin:4px;
		}
		
		.navbar .navbar_menu a:hover{
			background:var(--mainColor);
			color:var(--mainColorText);
		}
		
		.bannerbar{
			width:100%;
			overflow:hidden;
		}
		
		.bannerbar .inside{
			width:100%;
			min-height:100px;
			height: 100%;
			-webkit-backdrop-filter: blur(20px) saturate(200%)!important;
			-moz-backdrop-filter: blur(20px) saturate(200%)!important;
			backdrop-filter: blur(20px) saturate(200%)!important;
			background:rgba(255,255,255,0.85);
		}
		
		.bannerbar .inside .bio{
			padding:15px;
			padding-top:130px;
			padding-bottom:50px;
			text-align:center;
			font-size:1.3em;
			font-weight:400;
			max-width: 700px;
			margin: 0px auto;
		}
		
		.bannerbar .bannerbar_background{
			height:100%;
			background-position-x: center;
			background-position-y: center;
			background-size: cover;
		}
		
		menu{
			text-align:center;
			display:block;
		}
		
		menu a{
			display:inline-block;
			background:#ffffff;
			border-radius: 16px;
			padding:5px;
			padding-left:10px;
			padding-right:10px;
			color:var(--greyShade8);
			margin:4px;
		}
		
		menu a:hover{
			background:var(--mainColor);
			color:var(--mainColorText);
		}
		
		.media_backing{
			background-size: cover;
			background-repeat: no-repeat;
			background-color: var(--greyShade1);
			background-position: center center;
			border-radius: 20px;
		}
		
		.media_bg{
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			border-radius: 20px;
		}
		
		.aspectcase{
			width: 100%;
			position: relative;
		}
		.aspectcase.onebyone{
			padding-bottom: calc(100% / (1/1));
		}
		.aspectcase.fortybyeight{
			padding-bottom: calc(100% / (40/8));
		}
		.aspectcase.thirtybyeight{
			padding-bottom: calc(100% / (30/8));
		}
		.aspectcase.twentyonebynine{
			padding-bottom: calc(100% / (21/9));
		}
		.aspectcase.sixteenbynine{
			padding-bottom: calc(100% / (16/9));
		}
		.aspectcase.fourbythree{
			padding-bottom: calc(100% / (4/3));
		}
		.aspectcase.threebytwo{
			padding-bottom: calc(100% / (3/2));
		}
		.aspectcase.eightbyfive{
			padding-bottom: calc(100% / (8/5));
		}
		.aspectcase .content{
			padding:0px !important;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		textarea{
			width: calc(100% - 20px);
			height: 400px;
			display: block;
			margin: 0px auto;
			text-align: left;
			padding: 10px;
			margin-top: 15px;
			margin-bottom: 15px;
			border-radius: 16px;
			font-size: 1em;
			border: 0px;
			background: #ffffff;
			border:1px solid var(--mainColor);
			-webkit-appearance: none;
			outline: none;
			resize: none;
		}
		input[type="text"], input[type="password"]{
			width: 100%;
			border-radius: 16px;
			color:var(--greyShade8);
			border: 0px;
			background: var(--greyShade1);
			border:1px solid var(--mainColor);
			font-size: 1em;
			font-weight:600;
			max-width: 300px;
			padding: 10px;
			-webkit-appearance: none;
			outline: none;
			resize: none;
		}
		
		input[type="button"], input[type="submit"]{
			width: 100%;
			border-radius: 16px;
			color:var(--mainColorText);
			border: 0px;
			background: var(--mainColor);
			border:1px solid var(--mainColor);
			font-size: 1em;
			font-weight:600;
			max-width: 300px;
			padding: 10px;
			-webkit-appearance: none;
			outline: none;
			resize: none;
		}
		input[type="button"], input[type="submit"]:hover{
			opacity:0.8;
			cursor:pointer;
		}
		
		@media all and (max-width: 650px) {
			
			.bannerbar{
				height:100px;
			}
			
			bubble{
				background: #ffffff;
				margin-bottom: 0px;
				margin-top: 0px;
				box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0);
				-webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0);
				border-bottom: 1px solid var(--greyShade1);
				border-radius: 0px;
				padding-bottom: 20px;
				padding-top: 20px;
			}
			
			.article .headerimage.float{
				float: none;
				width: calc(100% - 20px);
				margin: 10px;
			}
			
		}
	</style>
	{{content_head}}
	<link rel="preconnect" href="https://hey.cafe">
	<link rel="preconnect" href="https://assets.heycafecdn.com">
	<link rel="preconnect" href="https://proxy.heycafecdn.com">
	<link rel="preconnect" href="https://b2.heycafecdn.com">
</head>
<body>
	{{content_header}}
	{{content_body}}
	{{content_footer}}
	{{content_extra}}
	{{content_script}}
</body>
</html>
